.infoPage {
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    position: absolute;
    background-color: white;
    padding: 20px; 
    z-index: 1;   
}

.infoPage .backButton {
    cursor: pointer;
}

.infoPage .backButton p {
    color: #e3e3e3;
}

.infoPage p {
    font-size: 12px;
}